.textBox {
  margin-top: 1em;
  width: 100%;
}

.textBox input {
  padding: 0.4em 0.4em;
  margin: 0;
  width: 100%;
  border: 1px solid var(--border);
  border-radius: 0.4rem;
  border-top-left-radius: 0;

  font-size: inherit;
}

.textBox .label {
  position: absolute;
  padding: 0 0.75em;
  transform: translateY(calc(-100% + 1px));
  border: 1px solid var(--border);
  border-radius: 0.4rem;

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;

  font-size: 0.75em;
  color: var(--text-primary);
  background: rgb(255, 255, 255);
}

.inputIcon {
  position: absolute;
  transform: translate(0.2rem, 0.08em);
  z-index: 1;

  font-size: 1.9em;
  color: var(--text-primary);
}

.textBox:focus-within .inputIcon {
  filter: brightness(0.7);
}

.inputWithIcon {
  padding-left: 2.3em !important;
}

.textBox:focus-within .label,
.textBox:focus-within input,
.textBox:hover .label,
.textBox:hover input {
  border-color: rgb(0, 0, 0);
  outline: none;
}
