.checkBox {
  display: block;
  position: relative;
  padding-left: 2.3em;
  line-height: 2em;
  cursor: pointer;

  user-select: none;
}

.checkBox:focus-within .checkBoxBorder,
.checkBox:hover .checkBoxBorder {
  border-color: rgb(0, 0, 0);
}

.checkBox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkBoxBorder {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 2em;
  height: 2em;

  background: white;
  border: 1px solid var(--border);
  border-radius: var(--border-radius);
}

.checkIcon {
  color: var(--text-primary);
  opacity: 0;
  transition: opacity 80ms;
  font-size: 1.9em;
}

.checkBox input:checked ~ .checkBoxBorder .checkIcon {
  opacity: 1;
}

.focusIcon {
  position: absolute;
  left: 0;
  z-index: -1;
  transform: translateX(0);

  opacity: 0;
  font-size: 2em;
  transition: transform 75ms;
}

.checkBox:focus-within .focusIcon {
  opacity: 1;
  transform: translateX(-90%);
}
