.post {
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius);
  background: white;
  padding-bottom: 0.5rem;
}

.postHeader {
  display: flex;
  width: 100%;
  gap: 0.2rem;
  padding: 0.4rem 0.3rem;
}

.authorNames {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
}

.authorDisplayName {
  font-size: 1.2rem;
}

.authorKakapoID {
  font-size: 0.8rem;
  color: var(--detail);
}

.pfp {
  border-radius: 50%;
  border: 1px solid var(--border);
  height: 3rem;
}

.actionButton {
  padding: 0.2rem;
  border: none;
  margin: 0;
  background: none;
  cursor: pointer;
}

.postActionButton {
  font-size: 1.1rem;
}

.postControls {
  display: flex;
  gap: 0.6rem;
}

.postMediaSection {
  display: flex;
  justify-content: center;
  max-height: 35rem;
  background: rgb(5, 5, 5);
}

.postMedia {
  object-fit: cover;
  max-width: 100%;
}

.reportControl {
  margin-left: auto;
}

.postContent {
  padding: 0 0.3rem;
  color: rgb(40, 40, 40);
  font-size: 1.1rem;
}

.postDate {
  padding: 0 0.2rem;
  color: rgb(90, 90, 90);
  font-style: italic;
  font-size: 0.8em;
}

@media screen and (min-width: 800px) {
  .authorDisplayName {
    font-size: 1.5rem;
  }

  .authorKakapoID {
    font-size: 1rem;
  }

  .pfp {
    height: 4rem;
  }

  .postControlsButton .icon {
    font-size: 2.2rem;
  }
}
