.authPage {
  justify-content: center;
  height: 100%;
}

.formHeading {
  text-align: center;
  font-size: 1.3rem;
  font-weight: 100;
}

.authPage form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.authPage form ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.authPage form button {
  width: min(23rem, 100%);
  margin: 0 auto;
}

.formError {
  color: rgb(179, 38, 22);
  min-height: 1.3rem;
}
